<h1>Welcome to the message board!</h1>

<ul>
    {{#each messages}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<form action="/message" method="POST">
    <input type="text" placeholder="message" name="message" />
    <button type="submit">send</button>
</form>